<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjd.chukou.model.Notice">
	<!--查询所有的公告-->
	<select id="queryAllNotice" resultType="Notice">
		select * from tb_notice
	</select>
	<!--新增公告操作-->
	<insert id="addNotice" parameterType="Notice">
		insert into tb_notice(notice_title,notice_content ,notice_typeid,notice_time)
		  values(#{notice_title},#{notice_content},#{notice_typeid},#{notice_time})
	</insert>
</mapper>
 

